services:
  db:
    image: postgres:18
    container_name: greensteps_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./db_data:/var/lib/postgresql

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: greensteps_api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1

  web:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: greensteps_web
    restart: always
    env_file:
      - .env
    depends_on:
      - api
    ports:
      - "8001:80"
